#loading-overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, .75);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.htmx-request#loading-overlay {
    opacity: 1;
    pointer-events: auto;
}
