<!DOCTYPE html>
<html lang="en">
<head>
    <title>Features</title>
    <script src="/webjars/htmx.org/2.0.3/dist/htmx.min.js"></script>
    <script src="/webjars/htmx.org/2.0.3/dist/ext/response-targets.js"></script>
    <script src="/webjars/tinymce/7.5.1/tinymce.min.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body hx-ext="response-targets" hx-target-error="#error" hx-swap="none">
<div id="features" th:fragment="features" class="card" hx-swap-oob="true">
    <h1>Features</h1>
    <ul class="list">
        <li class="list-item" th:each="featureListItem : ${features}">
            <!--/*@thymesVar id="featureListItem" type="ch.chrigu.gmf.givemefeatures.features.web.ui.FeatureListItem"*/-->
            <a class="list-link" th:hx-get="${featureListItem.link}" th:classappend="${featureListItem.current} ? 'current' : ''"><span th:text="${featureListItem.name}">My new feature</span></a>
        </li>
    </ul>
</div>
<div class="card">
    <h2>New Feature</h2>
    <form th:hx-post="@{/features}">
        <label for="name">Name: </label>
        <input class="form-input" type="text" name="name" id="name"/>
        <label for="description">Description: </label>
        <textarea class="form-input" name="description" id="description"></textarea>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit">Create</button>
        <script>initRichtext('#description');</script>
    </form>
</div>
<!--/*@thymesVar id="feature" type="ch.chrigu.gmf.givemefeatures.features.web.ui.FeatureDetailView"*/-->
<div th:fragment="feature" id="feature" hx-swap-oob="true">
    <div class="card" th:if="${feature}">
        <h2 th:text="${feature.name}">Feature</h2>
        <p th:utext="${feature.description}">Feature description</p>
        <h3>Tasks</h3>
        <ul class="list task-list">
            <li class="list-item" th:each="task : ${feature.tasks}"><a class="list-link" th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.name}">Task</a></li>
        </ul>
        <h3>Add task</h3>
        <form th:hx-post="@{/features/{id}/tasks(id=${feature.id})}">
            <label for="taskName">Name: </label>
            <input class="form-input" type="text" name="name" id="taskName"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
<div th:replace="~{error :: error}"></div>
</body>
</html>
